*~
.*.swp
.*.swo
*.dat
*.log
*.inp
!SolverType_default.inp
!SolverInput_default.inp
.pbs
!runPIC_flux_default.pbs
hpc/*
!hpc/runPIC_flux_default.pbs
!hpc/runPIC_stampede_default
*.o
*.out
*.exe
*.old
.*.old
*.png
*.jpg
*.eps
*.pdf
*.gif
*.json
reports/
results/
makefile_*
*.o*[0-9]
